

    <!-- Example Code -->
    
   <header class="nav-color">  
    <nav class="navbar navbar-expand-lg custom-navbar">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">Navbar</a>
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNavDropdown" aria-controls="navbarNavDropdown" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNavDropdown">
        <ul class="navbar-nav ms-auto">
          <li class="nav-item">
            <a class="nav-link active" aria-current="page" [routerLink]="['']">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/story']">About</a>
          </li>
          
            <li class="nav-item dropdown">
              <a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                Services
              </a>
              <ul class="dropdown-menu">
                <li><a class="dropdown-item" [routerLink]="['/service']">App Development</a></li>
                <li><a class="dropdown-item" [routerLink]="['/service']">Web Designing</a></li>
                <li><a class="dropdown-item" [routerLink]="['/service']">Web Development</a></li>
              </ul>
            </li>
            <li class="nav-item">
            <a class="nav-link" [routerLink]="['/works']">Works</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link" [routerLink]="['/clients']">Clients</a>
            
          </li>
          <li class="nav-item">
            <a class="nav-link">Contact</a>
            
          </li>
        </ul>
      </div>
    </div>
  </nav>
  </header> 
    <router-outlet/>

    <footer class="footer text-center text-lg-start">  
      <div class="container">
          <div class="row">
              <div class="col-12 logo-section text-lg-start text-center">
                  <img src="work-img/COMPANY-LOGO/logo3.svg" alt="Vikn Codes Logo">
                  <!-- <h4 class="mb-0">Microsoft</h4> -->
              </div>
          </div>
          <div class="row">
              <!-- Services -->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Services</h5>
                  <ul class="list-unstyled">
                      <li><a href="#!">App Development</a></li>
                      <li><a href="#!">Web Designing</a></li>
                      <li><a href="#!">Web Development</a></li>
                      <li><a href="#!">Graphic Designing</a></li>
                      <li><a href="#!">ERP Solutions</a></li>
                  </ul>
              </div>
              <!-- Quick Links -->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Quick Links</h5>
                  <ul class="list-unstyled">
                      <li><a href="#!">About Vikn Codes</a></li>
                      <li><a href="#!">Portfolio</a></li>
                      <li><a href="#!">Our Work</a></li>
                      <li><a href="#!">Product</a></li>
                      <li><a href="#!">Contact</a></li>
                  </ul>
              </div>
              <!-- Locations -->
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">Locations</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>Govt. Cyberpark KSITIL<br>
                          Special Economic Zone<br>
                          Nellikkode, Calicut Kerala - 673016<br>
                          PH: +91 95775 00400<br>
                          <a href="">stacqube.com</a></p>
                      </li>
                  </ul>
              </div>
              <div class="col-lg-3 col-md-6 mb-4 mb-md-0">
                  <h5 class="text-uppercase">&nbsp;</h5>
                  <ul class="list-unstyled">
                      <li>
                          <p>GGG83334, 04, 4th Floor<br>
                          Prince Muhammed Ibn Abdulaziz St.,<br>
                          Ash Shati District, Jazan,<br>
                          82812 K.S.A, Saudi Arabia<br>
                          PH: +966 55 912 4428<br>
                          PH: +966 54 598 2976<br>
                          PH: +966 54 489 5978</p>
                      </li>
                  </ul>
              </div>
          </div>
          <div class="row mt-3">
              <div class="col-12 text-center">
                  <a href="#" class="text-white me-2"><i class="fab fa-facebook-f"></i></a>
                  <a href="#" class="text-white me-2"><i class="fab fa-twitter"></i></a>
                  <a href="#" class="text-white me-2"><i class="fab fa-linkedin-in"></i></a>
                  <a href="#" class="text-white"><i class="fab fa-instagram"></i></a>
              </div>
          </div>
          <div class="row mt-3">
              <div class="col-12 text-center">
                  <p class="mb-0">&copy; 2024, Vikn Codes all rights reserved | <a href="#">Terms & Conditions</a></p>
                  <p class="mb-0"><a href="#">Privacy Policy</a></p>
              </div>
          </div>
      </div>
  </footer>