<div class="container-fluid story-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-12 text-leftmost">
          <h2 class="story-header">Our Story</h2>
          <p class="story-text">
            Vikn Codes is a full-service, digital agency, born to ensure the well-being of your whole business. 
            From web & app development to ERP solution and tax auditing, we offer a full suite of marketing services...
          </p>
          <a href="#" class="btn story-button">About Vikn Codes →</a>
        </div>
      </div>
    </div>
  </div>
