<div class="home">
     <h4>Software Company</h4>
     <h1>
        We Help Business <br>
        Stand Out
     </h1>
     <div class="home_buttons">
        <div class="get_in_touch" [routerLink]="['/service']" >
             <a >Get In Touch </a><i class="fa-solid fa-arrow-right ms-2 mt-1 arrow" style="color: #ffffff"></i>
        </div>
        <div class="offer_job">
            <a >Offer Job </a><i class="fa-solid fa-arrow-right ms-2 mt-1 arrow" style="color: #ffffff"></i>
        </div>

     </div>

     <p class="stunning">
        By Creating Stunning <b>Visual Identities</b> and <b>Awsome websites</b>
     </p>
     <p class="stunning">
        Our mission is to help Every person and organization in the planet to <br> Achieve greatness.
     </p>
  

     <div class="gradient_buttons">
        <div class="get_in_touch">
             <p>Portfolio </p>
        </div>
        <div class="offer_job">
            <p>Product </p>
        </div>


     </div>

</div>

