
<div class="container-fluid works-section">
    <div class="container text-center">
      <h2 class="works-header">Our Works</h2>
      <div class="row">
        <!-- Card 1 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card">
            <img src="work-img/work1.jpg" class="card-img-top fixed-size" alt="Work 1">
          </div>
        </div>
        <!-- Card 2 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card">
            <img src="work-img/work2.jpg" class="card-img-top fixed-size" alt="Work 2">
          </div>
        </div>
        <!-- Card 3 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card">
            <img src="work-img/work3.jpg" class="card-img-top fixed-size" alt="Work 3">
          </div>
        </div>
        <!-- Card 4 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card">
            <img src="work-img/work4.jpg" class="card-img-top fixed-size" alt="Work 4">
          </div>
        </div>
        <!-- Card 5 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card">
            <img src="work-img/work5.png" class="card-img-top fixed-size" alt="Work 5">
          </div>
        </div>
        <!-- Card 6 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card">
            <img src="work-img/work6.jpg" class="card-img-top fixed-size" alt="Work 6">
          </div>
        </div>
        <!-- Card 7 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card">
            <img src="work-img/work7.jpg" class="card-img-top fixed-size" alt="Work 7">
          </div>
        </div>
        <!-- Card 8 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card">
            <img src="work-img/work8.png" class="card-img-top fixed-size" alt="Work 8">
          </div>
        </div>
        <!-- Card 9 -->
        <div class="col-lg-4 col-md-6 col-sm-12 mb-4">
          <div class="card">
            <img src="work-img/work9.png" class="card-img-top fixed-size" alt="Work 9">
          </div>
        </div>
      </div>
      <div class="text-end mt-4"> <!-- Aligns text (button) to the right -->
        <a href="#" class="view-all-button">View All Our Works →</a>
      </div>
    </div>
    <div class="container text-center mt-5">
        <div class="logos-gallery row">
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
            <img src="work-img/COMPANY-LOGO/logo3.svg" class="img-fluid" alt="Logo 1">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
            <img src="work-img/COMPANY-LOGO/logo2.svg" class="img-fluid" alt="Logo 2">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
            <img src="work-img/COMPANY-LOGO/logo3.svg" class="img-fluid" alt="Logo 3">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
            <img src="work-img/COMPANY-LOGO/logo4.svg" class="img-fluid" alt="Logo 4">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
            <img src="work-img/COMPANY-LOGO/logo4.svg" class="img-fluid" alt="Logo 1">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
            <img src="work-img/COMPANY-LOGO/logo3.svg" class="img-fluid" alt="Logo 2">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
            <img src="work-img/COMPANY-LOGO/logo2.svg" class="img-fluid" alt="Logo 3">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
            <img src="work-img/COMPANY-LOGO/logo3.svg" class="img-fluid" alt="Logo 4">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
            <img src="work-img/COMPANY-LOGO/logo3.svg" class="img-fluid" alt="Logo 1">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
            <img src="work-img/COMPANY-LOGO/logo2.svg" class="img-fluid" alt="Logo 2">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
            <img src="work-img/COMPANY-LOGO/logo3.svg" class="img-fluid" alt="Logo 3">
          </div>
          <div class="col-lg-3 col-md-4 col-sm-6 col-6 mb-4">
            <img src="work-img/COMPANY-LOGO/logo4.svg" class="img-fluid" alt="Logo 4">
          </div>
        </div>
      </div>
      
  </div>